- # new prop button
.sticky.top-0.w-full.bg-white.py-4
  %button.sticky.mt-2.inline-block.px-6.bg-green-500.text-white.font-medium.text-xs.leading-tight.uppercase.rounded.shadow-md.hover:bg-green-600.hover:shadow-lg.focus:bg-green-600.focus:shadow-lg.focus:outline-none.focus:ring-0.active:bg-green-700.active:shadow-lg.transition.duration-150.ease-in-out{class: "py-2.5", 'data-action'=> 'edit-contest#newProp'}
    New Prop
